.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo {
    width: 200px;
}

.nav-items {
    padding: 0px 20px;
}

.nav-items > ul {
    font-size: 24px;
    display: flex;
    list-style-type: none;
}

.nav-items > ul > li {
    padding: 10px;
    margin: 0 10px;
}

.res-container {
    display: flex;
    flex-wrap: wrap;
}

.res-card {
    margin: 5px;
    padding: 5px;
    width: 200px;
    height: 500px;
   
}

.res-card:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border: 1px solid black;
}

.search {
    padding: 10px;
}

.res-logo {
    
    width: 100%;
}